
@{
    ViewData["Title"] = "AlumnoAgregadoConExito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success" role="alert">
    <h1>Alumno agregado con exito</h1>
    <a asp-action="MostrarAlumnos" asp-controller="Alumno" class="btn-warning">Volver</a>
</div>


