@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   
    <a asp-action="MostrarCursos" asp-controller="Curso" class="btn btn-success">Cursos</a>
    <a asp-action="MostrarAlumnos" asp-controller="Alumno" class="btn btn-success">Alumnos</a>


</div>
