@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   
    <a asp-action="MostrarCursos" asp-controller="Curso" class="btn btn-success">Cursos</a>
    <button>Alumnos</button>

</div>
