@model Curso
@{
    ViewData["Title"] = "CursoAgregadoExitosamenteVista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success" role="alert">
    <h1>Curso agregado con exito</h1>
    <a asp-action="MostrarCursos" asp-controller="Curso" class="btn-warning">Volver</a>
</div>

